attrs==25.3.0
dbt==1.0.0.40.5
dotenv==0.9.9
greenlet==3.2.3
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
psycopg2-binary==2.9.10
pyaes==1.6.1
pyasn1==0.6.1
python-dotenv==1.1.1
referencing==0.36.2
rpds-py==0.26.0
rsa==4.9.1
setuptools==80.9.0
SQLAlchemy==2.0.41
Telethon==1.40.0
tqdm==4.67.1
typing_extensions==4.14.1
